.inputFields {
  display: flex;
  justify-content: space-between;
}
.movieList {
  display: 'grid';
  grid-template-columns: 'auto auto auto';
}
.poster {
  width: 100px;
  height: 120px;
}
body {
  margin: auto;
  width: 75%;
}
