@media only screen and (min-width: 760px) {
  .inputFields {
    display: flex;
    justify-content: space-between;
    background-color: rgba(125, 24, 240, 0.24);
  }
  .mainContainer {
    display: flex;
    border: 2px solid black;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  body {
    margin: auto;
    width: 75%;
  }
}
@media only screen and (max-width: 759px) {
  .inputFields {
    display: flex;
    justify-content: space-between;
    background-color: rgba(125, 24, 240, 0.24);
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  body {
    margin: auto;
    width: 100%;
  }
}

.selectedWindow {
  display: flex;
  align-items: center;
  align-self: center;
}
