.inputFields {
  display: flex;
  justify-content: space-between;
  background-color: rgba(125, 24, 240, 0.24);
}
.movieList {
  display: 'grid';
  grid-template-columns: 'auto auto auto';
}
.poster {
  width: 100px;
  height: 120px;
}

.title {
  display: flex;
  justify-content: center;
}
body {
  margin: auto;
  width: 75%;
}
