@media only screen and (min-width: 760px) {
  .movieList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 759px) {
  .movieList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-self: center;
  }
}
